@import '../../../custom-variables.scss';

.vod-card {
  min-width: 10em;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;

  .card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    position: relative;

    .card-text {
      position: absolute;
      font-size: 12px;
      bottom: 0;
      right: 0;
      margin-bottom: 0;
      z-index: 1;
      background: rgba(black, 0.7)
    }

    .card-img-top {
      z-index: 0;
    }
  }
}

.vod-card-date {
  height: 100%;
}

.vod-card:hover {
  box-shadow: 1px 8px 20px #27752c;
  -webkit-transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in;
}

.badge-twitch {
  background-color: $twitch-purple;
}

.shine {
  $shine-opacity: 5%;
  background: darken(#f6f7f8, $shine-opacity) linear-gradient(to right,
      darken(#f6f7f8, $shine-opacity) 0%,
      darken(#edeef1, $shine-opacity) 20%,
      darken(#f6f7f8, $shine-opacity) 40%,
      darken(#f6f7f8, $shine-opacity) 100%) no-repeat;
  background-size: 800px 400px;
  display: inline-block;
  position: relative;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholder-shimmer;
  animation-timing-function: linear;
}

@keyframes placeholder-shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.placeholder-card-img {
  width: 100%;
  height: 140px;
}
